<!DOCTYPE html>
<html lang="en-US" ng-app="akashmitrapp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Akash Mitra</title>
	<!-- meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="author" content="Akash Mitra">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="keywords" content="Angular, Akash, Akash Mitra, BlackWhitePhotography, Ronny Mitra, Ronny">
	<meta name="description" content="Akash Mitra Portfolio">
	
	<link rel="icon" href="images/favicon.png" type="image/png" sizes="16x16">
	<link rel="image_src" href="images/thumbnail.png" />
	<link rel="manifest" href="manifest.json" />

	<!-- Styles & Fonts -->
	<link rel="stylesheet" id="fonts-css" href="css/fonts.css" type="text/css" media="screen">
	<link rel="stylesheet" id="fonts-css" href="css/elusive-icons.css" type="text/css" media="screen">
	<link rel="stylesheet" id="style-css" href="css/common.css" type="text/css" media="screen">
	<link rel="stylesheet" id="style-css" href="css/lightbox.min.css" type="text/css" media="screen">
	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<!-- /head -->

<body id="index" class="home page has-portfolio" ng-controller="LandingController">
	<!-- preloader -->
	<div id="main-preloader" class="preloader" style="display: none;">
		<div class="loading">
			<div class="loading-spin"></div>
		</div>
	</div>
	<!-- /preloader-->

	<!-- header -->
	<header id="main">
		<div id="header-inner">

			<!-- logo -->
			<div id="site-logo">
				<a href="#" ng-click="filterCriteria = 'star';descontent = null;">
					<h1>{{title}}</h1>
					<p class="desc">A Photo Journey</p>
				</a>
			</div>
			<!-- /logo -->

			<!-- primary nav area -->
			<div id="primary">
				<nav class="navigation">
					<div class="nav">
						<ul id="mainnav" class="menu">
							<li class="menu-item"><a href="about.html">About</a></li>
							<li class="menu-item"><a href="blog.html">Journal</a></li>

							<!-- Genres-->
							<li class="menu-item menu-item-has-children" style="margin-top: 25px;"><a href="#" ng-click="setFilterCriteria('singles')">Singles</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('bw')">Monochrome</a></li>
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('color')">Stories</a></li>
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('christmaspast')">Of Christmas Past</a></li>
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('dhunuchi')">Dhunuchi</a></li>
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('limcastudio')">Limca Studio</a></li>
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('nesha')">Indulgence</a></li>
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('outreach')">Outreach</a></li>
									<li class="menu-item"><a href="#" ng-click="setFilterCriteria('foodandtravel')">Food and Travel</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!-- /primary nav area -->

			<!-- social -->
			<div id="social">
				<ul class="nolist">
					<li class="facebook"><a href="https://www.facebook.com/akash.mitter"><i class="el el-facebook"></i></a></li>
					<li class="twitter"><a href="https://twitter.com/lifeisbhram"><i class="el el-twitter"></i></a></li>
					<li class="instagram"><a href="https://www.instagram.com/iamakashmitra/"><i class="el el-instagram"></i></a></li>
				</ul>
			</div>
			<!-- /social -->
		</div>
	</header>
	<!-- /header -->


	<!-- wrapper -->
	<div id="wrapper">
		<div id="page">

			<div ng-bind-html="descontent" id="desc" style="text-align: right;" ng-show="showdesc"></div>

			<div id="recentupdates" ng-show="!descontent">
				<div id="folio" class="masonry">
					<h4>Recent Uploads</h4>
					<ul class="nolist" ng-repeat="image in imageList | filter: filterRecent">

						<li class="masonry-item">
							<a ng-href="{{image.imageurl}}" data-lightbox="{{image.cluster}}" title="{{image.title}}">
							<img ng-src="{{image.imageurl}}" alt="{{image.title}}">
						<div class="caption">
							<div class="caption-content">
								<i title="Quick View" class="el el-fullscreen"></i>
							</div>
						</div>
						</a>
						</li>
					</ul>
				</div>
				<hr style="margin:15px 0 10px 0;">
			</div>

			<div id="folio" class="masonry">
				<ul class="nolist" ng-repeat="image in imageList | filter: filterCriteria">

					<li class="masonry-item">
						<a ng-href="{{image.imageurl}}" data-lightbox="{{image.cluster}}" title="{{image.title}}">
							<img ng-src="{{image.imageurl}}" alt="{{image.title}}">
						<div class="caption">
							<div class="caption-content">
								<i title="Quick View" class="el el-fullscreen"></i>
							</div>
						</div>
						</a>
					</li>

				</ul>
			</div>

		</div>
	</div>
	<!-- /wrapper -->


	<!-- preloader js -->
	<script type="text/javascript">
		(function ($) { $(window).load(function () { setTimeout(function () { $("#main-preloader").fadeOut(500); }, 2500); }); })(jQuery);
	</script>

	<!-- scripts-->
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/lightbox.min.js"></script>
	<script>
		lightbox.option({
			'alwaysShowNavOnTouchDevices': true,
			'disableScrolling': true,
			'imageFadeDuration': 300,
			'resizeDuration': 300,
			'wrapAround': true
		})
	</script>

	<!-- Angular Modules -->
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="angular/app.module.js"></script>
	<script type="text/javascript" src="angular/app.config.js"></script>
	<script type="text/javascript" src="angular/app.service.js"></script>
	<script type="text/javascript" src="angular/landing.controller.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
		ga('create', 'UA-105002449-1', 'auto');
		ga('send', 'pageview');
	
	</script>
	
</body>

</html>